/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	padding: 5%;
	background: #000000;
	background: linear-gradient(to left top, #000000, #29011a, #42003a, #4a0069, #180ba6);
	background-repeat: no-repeat;
	color: #FFFFFF;
	font: italic bolder 1em Georgia, serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset Rules */

h1 {
	font-size: 4.5em;
	text-decoration: underline;
	border: 2px 2px 0 0 solid #FFFFFF;
	margin-bottom: 20px;
	text-align: center;
}

#main {
	background: #040A14;
	border: 4px double #FFFFFF;
	border-radius: 4px;
  max-width: max-content;
	min-width: 620px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

#timer-controls {
	margin: 0 auto;
}

h3 {
	margin: 0 0 10px 0;
	font-size: 3.5em;
}

div.session-timer, div.break-timer {
	display: inline-block;
	margin: 0 1.5em 0 1.5em;
	font-size: 1.1em;
}

.session-display, .break-display {
	display: inline-block;
	padding: .6em;
	border: 2px solid transparent;
	border-radius: .6em;
	background-color: rgba(0, 0, 0, .4);
	transition: border-color 1.2s, padding .8s;
	font-size: 2em;
}

button {
	background: transparent;
	border: none;
	border-radius: 100%;
	font: normal bold 1.5em Georgia, serif;
	color: #FFFFFF;
	cursor: pointer;
	padding: .6em;
}

#timer button {
	margin: 0 15px;
}

button::-moz-focus-inner {
	border: 0;
}

button:focus {
	outline: 0;
}

button:hover {
	color: grey;
}

button.fa-play:hover {
	color: #215A0D;
}

button.fa-pause:hover {
	color: #530A0A;
}

#timer {
	text-align: center;
	width: max-content;
	margin: 0 auto;
}

hr {
	margin-top: 22px;
}

.running {
	border-color: #215A0D;
}

div.paused {
	border-color: #530A0A;
}

.status-yellow {
	border-color: #eeff00;
}

.status-orange {
	border-color: #ff5926;
}

#timer-controls button.hidden {
	visibility: hidden;
}
